// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');
// Variables
@import 'variables';
// Bootstrap
@import "../../node_modules/bootstrap/scss/bootstrap";

@import "../../node_modules/font-awesome/scss/font-awesome";

@import "jquery.datetimepicker";

@import "jstree";

@import "../../node_modules/select2/src/scss/core";

@import "../../node_modules/dropify/src/sass/dropify";

.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

body {
  background-color: #f5f8fa !important;
}

.content {
  background-color: #fff;
}

.pagination{
  text-align: center;
  display: block;
}

.pagination li {
  display: inline-block;
}

.content-title{
  margin: 1rem;
}

.select2-selection{
  height: 2.3rem !important;
}
